@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de <b>Gestão</b></h1>
    <p>Estamos em fase de desenvolvimento.</p>
</div>

<h3>Modulos prontos</h3>

<a asp-controller="Clientes" asp-action="Index">Geranciar Clientes</a> <br />
<a asp-controller="Salas" asp-action="Index">Geranciar Salas</a>